# === Java ===
*.class
*.jar
*.war
*.ear
*.db
*.log

# === Spring Boot ===
/target/
/build/
*.iml
*.h2.db
*.p8
*.keystore
*.crt
*.jks
*.pem
HELP.md
.mvn/wrapper/maven-wrapper.jar

# === Exclude sensitive Spring configs (keep out of git) ===
**/src/main/resources/application.properties
**/src/main/resources/application.yml

# === React JS ===
node_modules/
dist/
build/
*.log
*.env
*.lock
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
**/bun-lock.*

# === IDEs and Editors ===
# IntelliJ / IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.settings/

# VS Code
.vscode/
!.vscode/extensions.json

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === System Files ===
.DS_Store
Thumbs.db

# === Test/Generated Folders ===
**/src/main/**/target/
**/src/test/
**/src/main/**/build/

# === Misc ===
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs/
